{% extends "base.html" %}
{% block content %}
<h2 class="gaming" >Welcome to VictorJI Services</h2>
<p  class="gaming"  >Your city’s trusted platform for reliable local home services.</p>
<a href="https://wa.me/919220194306?text=Hi%20I%20want%20a%20service%20from%20VictorJI" target="_blank">
<!-- <button class="gaming" >Book on WhatsApp</button> -->
</a>
<div class="hero">
    <div class="hero-text">
        <h1>Fast & Trusted Home Services</h1>
        <p>Electrician • Plumbing • AC Repair • Painting • Pest Control</p>

        <a href="/services"><button>View Services</button></a>
        <a href="/book"><button class="btn-green">Book Now</button></a>
    </div>
</div>


<!-- SERVICES SECTION -->
<section class="section">
    <h2>Popular Services</h2>
    <div class="service-grid">

        <div class="service-card">
            <img src="/static/images/ac.jpg">
            <h3>AC Repair</h3>
            <p>Starting ₹499</p>
            <button>Book Now</button>
        </div>
        
        <div class="service-card">
            <img src="/static/images/electrician.jpg">
            <h3>Electrician</h3>
            <p>Starting ₹199</p>
            <a href="/book"><button>Book Now</button></a>
        </div>
        
        <div class="service-card">
            <img src="/static/images/plumbing.jpg">
            <h3>Plumbing</h3>
            <p>Starting ₹299</p>
            <a href="/book"><button>Book Now</button></a>
        </div>

    </div>
</section>

<!-- WHY CHOOSE US -->
<section class="why">
    <h2>Why Choose VictorJI?</h2>
    <div class="why-grid">
        <div>⚡ Fast Service</div>
        <div>👷 Verified Professionals</div>
        <div>💰 Affordable Pricing</div>
        <div>⭐ Trusted by Customers</div>
    </div>
</section>

<!-- CTA SECTION -->
<section class="cta">
    <h2>Need Service Now?</h2>
    <p>Book instantly on WhatsApp</p>
    <a href="https://wa.me/919220194306"><button>Chat on WhatsApp</button></a>
</section>

<!-- FOOTER -->
<footer>
    <p>© 2026 VictorJI Services | All Rights Reserved</p>
</footer>

{% endblock %}




