{% extends "base.html" %}
{% block content %}
<section class="services-section">

    <h2>Our Services</h2>
    
    
    <div class="service-grid">

        <div class="service-card">
            <img src="/static/images/ac.jpg">
            <div class="content">
        <h3>AC Repair</h3>
        <p>Starting ₹499</p>
        <button>Book Now</button>
    </div>
</div>

    <!-- <div class="card"> -->
        
        <div class="service-card">
        <img src="/static/images/electrician.jpg">
        <div class="content">

            <h3>Electrician</h3>
            <p>Price: ₹199</p>
            <a href="/book"><button>Book Now</button></a>
        </div>
    </div>

    <!-- <div class="card"> -->
        
        <div class="service-card">
        <img src="/static/images/plumbing.jpg">
        <div class="content">

            <h3>Plumbing</h3>
            <p>Price: ₹299</p>
            <a href="/book"><button>Book Now</button></a>
        </div>
    </div>

    <!-- <div class="card"> -->
        
        <div class="service-card">
        <img src="/static/images/painting.jpg">
        <div class="content">

            <h3>Wall Painting</h3>
            <p>Price: ₹2000</p>
            <a href="/book"><button>Book Now</button></a>
        </div>
    </div>

    <!-- <div class="card"> -->
        
        <div class="service-card">
        <img src="/static/images/garden.jpg">
        <div class="content">

            <h3>Garden Maintenance</h3>
            <p>Price: ₹499</p>
            <a href="/book"><button>Book Now</button></a>
        </div>
    </div>
    
    <!-- <div class="card"> -->
        
        <div class="service-card">
        <img src="/static/images/pest.jpg">
        <div class="content">

            <h3>Pest Control</h3>
            <p>Price: ₹999</p>
            <a href="/book"><button>Book Now</button></a>
        </div>
    </div>
    </div>

</div>

</section>
{% endblock %}
